
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900,900i');
body,
html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	color: #303030;
	padding: 0px;
	margin: 0px;
	font-size: 15px;
	line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 15px;
	font-weight: 500;
	color: #252525;
}

body {
	padding: 0;
	margin: 0
}
a {
	color: #4B4B4B;
	cursor: pointer
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a:hover,
a:focus,
a:active 
button:focus{
	text-decoration: none;
	color: #2C2933
}
input:focus {
	outline: 0 solid;
}
body .form-control:focus {
	border-color: #1d81f2;
	outline: 0;
	-webkit-box-shadow: inset 0 0px 0px transparent, 0 0 0px transparent;
	box-shadow: inset 0 0px 0px transparent, 0 0 0px transparent
}
body .form-control {
	border-radius: 0px
}

/*==================================================
    Hero Area CSS
==================================================*/
.meal-section{
	padding: 100px 20px;
}
.input-group{
	margin-bottom: 50px;
	color: #989898;
}
.input-group i{
	color: #989898;
	padding: 15px 0px 15px 10px;
}
.form-control{
	background-color: #f8f7f5!important;
	border: none;
	padding: 10px 20px;
}
.search-btn{
	border-radius: 0 3px 3px 0!important;
	background: #f04c4e;
	border: none;
	color: #fff;
	padding: 15px 20px;
}
.search-icon{
	border-radius: 3px 0 0 3px!important;
	background: #f8f7f5!important;
	border: none;
}
.meal-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}
.meal-container-2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	margin-top: 50px;
}

.singleMeal img{
	width: 100%;
	height: 226PX;
	border-radius: 10px 10px 0 0;
}
.meal-container-2 .singleMeal img{
	width: 100%;
	height: 350PX;
	border-radius: 10px 10px 0 0;
}
.singleMeal{
	border-radius: 10px 10px 0 0;
	background: #f8f7f5;
	cursor: pointer;
}
.basic-info h3{
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
	padding: 10px 0;
}
.basic-info h5{
	padding-left: 20px;
	border-bottom: 2px solid #f04c4e;
	padding-bottom: 20px;
}
.basic-info ul{
	padding: 10px 0 20px 20px;
}
.basic-info ul li{
	font-size: 17px;
}

